*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

.nav-bar {
  margin-top: 5px;
  display: flex;
  flex-direction: column; 
  width: 100%;
  align-items: center;
}

.nav-item {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid white;
  background-color: goldenrod;
  color: white;
  padding: 20px;
  width: 90%;
}

.fa {
  align-self: center;
  flex-basis: 24px;
  color: red;
}

.listed-item_price {
  flex: 1;
  text-align: right;
  color: black;
}

.nav-item.search input {
  flex: 1;
}